@import "tailwindcss";

:root {
  --primary: #000;
  --secondary: rgba(0, 0, 0, 0.70);
  --black10:rgba(0, 0, 0, 0.10);
  --black20:rgba(0, 0, 0, 0.20);
  --black50:rgba(0, 0, 0, 0.50);
  --white70: rgba(255, 255, 255, 0.70);
  --bg:#F2F2F2;
  --bg2: #FFF2D7;
}

@font-face {
  font-family: 'BwGradual';
  src: url('./style/fonts/BwGradualDEMO-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwGradual';
  src: url('./style/fonts/BwGradualDEMO-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BwGradual';
  src: url('./style/fonts/BwGradualDEMO-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BwGradual';
  src: url('./style/fonts/BwGradualDEMO-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BwGradual';
  src: url('./style/fonts/BwGradualDEMO-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'BwGradual', sans-serif;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;

}

.active_underline::after {
  display: flex;
  flex-direction: column;
  content: '';
  position:absolute;
  width: 0;
  height: 1px;
  background-color: var(--primary);
  bottom: -2px;
}

.active_underline:hover::after {
  width: 100%;
  transition: all 300ms ease-in-out;
}

.DiscoverImg {
  aspect-ratio: 1;
}

.DiscoverImgMain {
  aspect-ratio: 1/.8;
  background-size:cover ;
}