@import "tailwindcss";

:root {
  --primary: #000;
  --secondary: rgba(0, 0, 0, 0.70);
  --black10:rgba(0, 0, 0, 0.10);
  --black50:rgba(0, 0, 0, 0.50);
  --white70: rgba(255, 255, 255, 0.70);
  --bg:#F2F2F2;
  --bg2: #FFF2D7;
}

@font-face {
  font-family: 'Alexandria Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Alexandria Regular'), url('./style/Alexandria[wght].woff') format('woff');
  }

body {
  font-family: 'Alexandria Regular', sans-serif;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;

}
