@import "tailwindcss";

:root {
  --primary: #000;
  --secondary: rgba(0, 0, 0, 0.70);
  --black10:rgba(0, 0, 0, 0.10);
  --white70: rgba(255, 255, 255, 0.70);
  --bg:#F2F2F2;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');